<% layout('/layouts/boilerplate') %>

<div class="row mt-3">
    <h1 class="col-6 offset-3">SignUP On WanderLust</h1>
    <div class="col-6 offset-3">
         <form method="post" action="/signup" class="needs-validation" novalidate>
           <div class="mb-3">
                 <label for="username" class="form-label">Username</label>
                 <input name="username" placeholder="Enter Username" type="text" class="form-control" id="username" required> </input> 
          </div>
          <div class="mb-3">
                 <label for="email" class="form-label">Email</label>
                 <input name="email" placeholder="Enter Email" type="text" class="form-control" id="email" required> </input> 
          </div>
          <div class="mb-3">
                 <label for="password" class="form-label">Password</label>
                 <input name="password" placeholder="Enter Password" type="password" class="form-control" id="password" required> </input> 
          </div>
          <button class="btn btn-success">SignUP</button>
         </form>
    </div>

</div>